<!DOCTYPE html>
<html>
<head>
	<title>Input validation in Angularjs</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<h2>Form validation</h2>
		<form ng-app="myApp" ng-controller="vadtCtrl" ng-submit="save()" name="myForm" novalidate>
			<!--div for name-->
			<div class="form-group">
				<input type="text" ng-pattern="/^[a-zA-Z\s]*$/" name="nam" ng-model="nam" required placeholder="Enter name" class="form-control">
				<span style="color: red;" ng-show="myForm.nam.$dirty&&myForm.nam.$invalid">
					<span style="color:red;" ng-show="myForm.nam.$error.required"><p>Name is required</p></span>
				</span>
			</div>
			<p style="color: red;" ng-show="myForm.nam.$error.pattern||myForm.nam.required">please enter only alphabets</p>
			<!--div for username-->
			<div class="form-group">
				<input type="text" ng-pattern="/^[a-zA-Z0-9]*$/" name="username" ng-model="username" required placeholder="Enter username" class="form-control">
				<span style="color:red;" ng-show="myForm.username.$dirty&&myForm.username.$invalid">
					<span style="color: red;" ng-show="myForm.username.$error.required">
						<p>username is required</p>
					</span>
				</span>
			</div>
			<p style="color: red;" ng-show="myForm.username.$error.pattern||myForm.username.required">please enter username with letter and digit</p>
			<!--div for email-->
			<div class="form-group">
				<input type="email" name="email" ng-model="email" required placeholder="Enter your email" class="form-control" ng-pattern="/^\w.+@[a-z_-]+?\.[a-z]{2,3}$/" required >
				<span style="color:red;" ng-show="myForm.email.$dirty&&myForm.email.$invalid">
					<span style="color: red;" ng-show="myForm.email.$error.required">
						<p>Email is required</p>
					</span>
				</span>
			</div>
			<p style="color:red;" ng-show="myForm.email.$error.pattern||myForm.email.required
			">please enter a valid emial address</p>

			<div class="form-group">
				<input type="password" name="password" ng-model="password" placeholder="Enter password" ng-pattern="/^(?=.*?[A-Z])(?=.*?[#?!@$%^&*-]).{8,50}$/"  class="form-control" required>
				<span style="color: red;" ng-show="myForm.password.$dirty&&myForm.password.$invalid">
					<span style="color: red;" ng-show="myForm.password.$error.required"><p>password is required</p></span>
				</span>
			</div>
			<p style="color: red;" ng-show="myForm.password.$error.pattern || myForm.password.required">Password requires  1 upper case character, 1 special character and must be at least 8 characters and at most 50</p>

			<div class="form-group">
				<input type="text" ng-pattern="/^[0-9]*$/" name="mblno" ng-model="mblno" placeholder="Enter your phone number" class="form-control" required>
				<span style="color: red;" ng-show="myForm.mblno.$dirty&&myForm.mblno.$invalid">
					<span style="color: red;" ng-show="myForm.mblno.$error.required"><p>phone number is required</p></span>
				</span>
			</div>
			<p style="color: red;" ng-show="  myForm.mblno.required||myForm.mblno.$error.pattern">please enter only digit</p>

			<div class="form-group">
				<input type="text" name="dob" ng-model="dob" placeholder="Enter your date of birth(dd/mm/yyyy)" class="form-control" ng-pattern="/^(0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)\d\d$/" required>
				<span style="color: red;" ng-show="myForm.dob.$dirty&&myForm.dob.$invalid">
					<span style="color: red;" ng-show="myForm.dob.$error.required"><p>birthdate is required</p></span>
				</span>
			</div>
			<p style="color: red;" ng-show="myForm.dob.$error.pattern || myForm.dob.required">please enter valid birthdate</p>

			<div class="form-group">
				<p class="p_cat">Enter your job category</p>
				<select class="form-control prof" style="background-color:#EBEDEF;" name="profcat" ng-model="profcat" ng-options="x for x in names"></select>
			</div>

			<input type="submit" class="btn btn-default" value="submit" name="submit" ng-disabled="myForm.$pristine" >
		</form>
	</div>  
</body>
</html>

<script>
	
	var app=angular.module('myApp',[]);
	app.controller('vadtCtrl',function($scope){
		$scope.nam=null;
		$scope.username=null;

		$scope.names=["student","govt.job","private job","others"];

		$scope.save=function(){
			if($scope.myForm.$valid){
				alert("Form is valid !!");
			}else{
				alert("please fill-up all the fields :(");
			}
		}

	});
</script>
